body {
  color: #121212;
}

button:active {
  background-color:  red;
}

.btn-primary {
  background-color: #4F8B52;
  border: none;
  transition: background-color 0.2s ease;
  font-weight: 700;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #304631;
}

.btn-outline-primary {
  color: #4F8B52;
  border-color: #4F8B52;
  transition: background-color 0.2s ease;
  font-weight: 700;
  border-style: solid;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
  background-color: #6E9F70;
  border-color: #6E9F70;
  color: #FFFFFF;
}

.navbar-left {
  display: flex;
}
