body {
  color: #121212;
}

button:active {
  background-color: red;
}

.btn-primary {
  background-color: #4f8b52;
  border: none;
  transition: background-color 0.2s ease;
  font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #457847;
}

.btn-outline-primary {
  color: #4f8b52;
  border-color: #4f8b52;
  transition: background-color 0.2s ease;
  font-weight: 700;
  border-style: solid;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  background-color: #6e9f70;
  border-color: #6e9f70;
  color: #ffffff;
}

.navbar-left {
  width: 100%;
  display: flex;
}

/* .active a{
  border-bottom: 2px solid #4f8b52;
}

.active-parent{
  border-bottom: 2px solid #4f8b52;
} */

.dropdown-menu .active:after {
  border: none !important;
}

.wpforms-confirmation-container-full p:last-of-type {
  margin-top: 132px !important;
}

.navbar-left .active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 0px;
  border-bottom: 2px solid #4f8b52;
}

.active-parent:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 0px;
  border-bottom: 2px solid #4f8b52;
}

div.wpforms-container-full .wpforms-form select.wpforms-field-large {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* background: transparent; */
  background-image: url("data:image/svg+xml,%3Csvg fill=black height=24 viewBox=0 0 24 24 width=24 xmlns=http://www.w3.org/2000/svg%3E%3Cpath d=M7 10l5 5 5-5z/%3E%3Cpath d=M0 0h24v24H0z fill=none/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 5px;
  /* border: 1px solid #dfdfdf; */
  border-radius: 2px;
  margin-right: 2rem;
  /* padding: 1rem; */
  padding-right: 2rem;
}

@media (max-width: 1024px) {
  .wpforms-confirmation-container-full p:last-of-type {
    margin-top: 24px !important;
  }
  .active a {
    font-weight: 700;
  }
  .active-parent {
    font-weight: 700;
  }
  .navbar-left .active:after {
    content: "";
    border: none;
  }
  .active-parent:after {
    content: "";
    border: none;
  }
}
