.hero {
  padding: 142px 0 130px 0;
}

.heading {
  max-width: 820px;
}

.heading h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
}

.subheading {
  margin-top: 20px;
  max-width: 640px;
}

.subheading p {
  margin-top: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.primary-cta {
  margin-top: 40px;
  padding: 14px 64px;
}

.green-semi-1 {
  position: absolute;
  top: -360px;
  right: 0px;
  width: 400px;
  z-index: -1;
}

@media (max-width: 576px) {
  .heading h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
  }

  .subheading p {
    font-size: 16px;
    line-height: 24px;
  }

  .green-semi-1 {
    position: absolute;
    top: -90px;
    right: 0px;
    width: 90px;
    z-index: -1;
  }
}

.welcome {
  padding: 64px 0px 50px;
}

.welcome h4 {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.vision {
  padding: 64px 0;
}

.vision h6 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.vision p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 576px) {
  .vision h6 {
    text-align: center;
    margin-bottom: 50px;
  }

  .vision img {
    margin-top: 54px;
  }
}

.team {
  padding: 64px 0;
  color: #fff;
}

.team h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
  color: #fff;
}

.team .team-member {
  margin-top: 40px;
  cursor: pointer;
  padding: 0;
}

.team .team-name {
  margin: 40px 0 14px;
  font-size: 24px;
  font-weight: 600;
}

.team .personal-name {
  margin: 20px 0 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.team .personal-designation {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}

.team .team-member .member-image {
  width: 150px;
  height: 150px;
  background-position: 0 -8px;
  background-repeat: no-repeat;
  background-size: 150px 187px;
  display: inline-block;
}

.team .team-member.active img{
  border: 3px solid #508d53;
}

.team-bio {
  margin-top: 40px;
}

.team-bio .title, .team-modal .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.team-bio .bio, .team-modal .bio{
  margin-top: 28px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.investors {
  border-top: 1px solid #efefef;
  padding: 64px 0;
}

.investors h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
  margin-bottom: 40px;
}

.investors p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0px;
}

@media (max-width: 576px) {
  .investors h4 {
    margin-bottom: 40px;
  }
}

.metrics {
  padding: 64px 0;
}

.metrics h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.metrics .subheading {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.metrics .title {
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
}

.metrics .subtitle {
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.metrics .stat {
  margin-top: 64px;
}

.metrics .awards {
  margin-top: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.awards .top-10 {
  width: 180px;
}

.awards .idc {
  width: 224px;
}

.awards .gartner {
  width: 170px;
}

.awards p {
  margin-top: 20px;
}

@media (max-width: 576px) {
  .metrics .stat {
    margin-top: 40px;
  }

  .metrics .subtitle {
    margin-bottom: 50px;
  }

  .metrics .awards {
    margin-top: 0px;
  }

  .awards p {
    margin-bottom: 50px;
  }

  .awards div:last-child > p {
    margin-bottom: 0;
  }
}

.cta-section {
  padding: 64px 0;
}

.cta-section h5 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.cta-section button {
  margin-top: 24px;
  padding: 14px 64px;
}

.cta-section p {
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 576px) {
  .cta-section {
    text-align: center;
  }

  .cta-section img {
    margin-top: 50px;
  }

  .cta-section h5 {
    font-size: 40px;
    line-height: 48px;
  }
}

.features {
  margin-top: 40px;
  padding: 100px 67px;
  color: white;
}

@media (max-width: 576px) {
  .tomorrows-width br {
    display: none;
  }
}
