.hero {
  padding: 162px 0 64px;
}

.heading {
  max-width: 500px;
}

.heading h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  color: #121212;
}

.subheading {
  margin-top: 20px;
  max-width: 640px;
}

.subheading p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.primary-cta {
  margin-top: 40px;
  padding: 14px 64px;
}

.green-circle-1 {
  position: absolute;
  top: 240px;
  right: 0px;
  width: 290px;
  z-index: -1;
}

.ochre-square-1 {
  position: absolute;
  z-index: -1;
  width: 130px;
  top: 190px;
  right: 400px;
}

.green-circle-2 {
  position: absolute;
  bottom: -425px;
  left: 0px;
  width: 200px;
  z-index: -1;
  transform: rotate(180deg);
}

.green-semi-1 {
  display: none;
}

@media (max-width: 576px) {

  .heading {
    max-width: 330px;
  }

  .heading h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
  }

  .subheading p {
    font-size: 16px;
    line-height: 24px;
  }

  .green-semi-1 {
    display: block;
    position: absolute;
    top: -30px;
    right: 0px;
    width: 90px;
    z-index: -1;
  }

  .green-circle-1,
  .green-circle-2 {
    display: none;
  }

  .ochre-square-1 {
    position: absolute;
    z-index: -1;
    width: 30px;
    top: 200px;
    right: 4%;
  }
}

.main-card-row {
  margin-top: 120px;
  color: #ffffff;
}

.main-card {
  content: "";
  /* width: 340px; */
  padding: 20px;
  border-radius: 0;
  background-color: grey;
  padding: 80px 20px 20px;
  color: #ffffff;
  box-shadow: 0px 5.92625px 17.7788px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.main-card:hover {
  transform: translateY(-10px);
}

.main-card h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.01em;
  min-width: 300px;
}

.main-card p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
}

.main-card img {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 48px;
}

.card-automate {
  background-color: #5da961;
}

.card-assure {
  background-color: #cc9b3c;
}

.card-innovate {
  background-color: #6284c5;
}

@media (max-width: 576px) {
  .main-card {
    margin-top: 34px;
    width: 100%;
  }

  .main-card-row {
    margin-top: 20px;
  }

  .main-card h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }

  .main-card p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: 1281px) {
  .main-card {
    width: 400px;
  }
}

.hyper-apps {
  padding: 54px 0px 64px;
}

.hyper-apps h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.hyper-apps h4 {
  margin-top: 34px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.hyper-apps p {
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .hyper-apps .row {
    flex-direction: column-reverse;
  }

  .hyper-apps h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 12px;
    max-width: 310px;
  }

  .hyper-apps h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .hyper-apps p {
    margin-top: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .hyper-apps img {
    margin-top: 64px;
  }
}

.use-cases {
  padding: 64px 0;
}

.use-cases h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.use-cases h6 {
  margin-top: 36px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.use-cases p {
  margin-top: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.use-cases button {
  margin-top: 24px;
  padding: 14px 60px;
}

.use-cases .green-circle-3 {
  position: absolute;
  top: -150px;
  right: 0px;
  width: 120px;
  z-index: -1;
  transform: rotate(-45deg);
}

.use-cases .row {
  margin-top: 64px;
}

@media (max-width: 576px) {
  .use-cases {
    padding-top: 200px;
  }

  .use-cases .green-circle-3 {
    top: -100px;
    right: 40px;
    width: 120px;
  }

  .use-cases .row {
    margin-top: 0;
  }

  .use-cases .col-sm-12 {
    margin-top: 54px;
  }

  .use-cases button {
    margin-top: 40px;
  }

  .use-cases h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
  }

  .use-cases p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}

.partners {
  padding: 54px 0 64px;
}

.partners h4 {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.partners .hcl {
  width: 130px;
}

.partners .kpmg {
  width: 120px;
}

.partners .tech-m {
  width: 150px;
}

.partners .deloitte {
  width: 125px;
}

.partners .wipro {
  width: 100px;
}

.partners .tata {
  width: 180px;
}

@media (max-width: 576px) {
  .partners h4 {
    margin-bottom: 0
  }

  .partners img {
    margin-top: 54px;
  }

  .partners .hcl {
    margin-top: 44px;
    width: 110px;
  }

  .partners .kpmg {
    margin-top: 44px;
    width: 100px;
  }

  .partners .tech-m {
    width: 120px;
  }
}

.case-studies {
  padding: 54px 0 64px;
}

.grey {
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.case-first {
  padding-top: 54px;
}

.case-studies h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
  margin-bottom: 64px;
}

.case-studies h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.case-studies p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.case-studies button {
  margin-top: 24px;
  padding: 14px 60px;
}

.case-studies .green-semi {
  position: absolute;
  top: -100px;
  right: 20px;
  width: 400px;
  z-index: -1;
  transform: rotate(-25deg);
}

.case-studies .white-squares {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  .case-studies h4 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 44px;
  }

  .case-studies h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .case-studies p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .case-studies button {
    margin: 54px 0;
    padding: 14px 60px;
  }

  .case-studies .green-semi {
    position: absolute;
    top: 80%;
    right: 0px;
    width: 142px;
    z-index: -1;
    transform: rotate(0deg);
  }

  .case-studies .white-squares {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 180px;
    z-index: 2;
    transform: translateX(-50%);
  }

  .case-second .row {
    flex-direction: column-reverse;
  }
}

.blog-list {
  padding: 64px 0;
}

.blog-list .category {
  margin-top: 36px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.blog-list h5 {
  margin-top: 18px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.blog-list p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 576px) {
  .blog-list .col-sm-12 {
    margin-bottom: 50px;
  }

  .blog-list .col-sm-12:last-child {
    margin-bottom: 0;
  }
}

.case-studies .case-studies-slider .slick-slide:focus {
  outline: none !important;
}

.slick-slide {
  margin: 0 20px;
}

.slick-list {
  margin: 0 -20px;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -78px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-size: 16px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #508d53;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #508d53;
}

@media (max-width: 576px) {
  .slick-dots {
    bottom: -100px;
  }
}
