/* .case-study-section {
  max-width: 760px;
} */

#primary {
  padding: 0;
}

#content.site-content {
  padding-top: 0;
}

.hero {
  padding: 162px 0 90px 0;
}

.heading {
  color: #fff;
  padding: 40px 0;
}

.heading h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 62px;
  color: #121212;
  padding: 0;
  padding-right: 190px;
}

.subheading {
  margin-top: 20px;
  max-width: 640px;
}

.subheading h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.subheading p {
  margin-top: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.primary-cta {
  margin-top: 40px;
  padding: 14px 64px;
}

.green-semi-1 {
  position: absolute;
  top: -360px;
  right: 0px;
  width: 400px;
  z-index: -1;
}

@media (max-width: 576px) {
  .heading h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    padding: 0;
  }

  .subheading p {
    font-size: 16px;
    line-height: 24px;
  }

  .green-semi-1 {
    position: absolute;
    top: -30px;
    right: 0px;
    width: 90px;
    z-index: -1;
  }
}

.transform {
  padding: 76px 0px 67px;
}

.transform h4 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.transform p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.features {
  padding-top: 40px;
  padding-bottom: 40px;
}

.features h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.feature-card {
  margin-top: 40px;
  padding: 100px 67px;
}

.use-cases {
  padding: 64px 0 50px;
}

.use-cases h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.use-cases h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

@media (min-width: 1280px) {
  .use-cases h5 {
    max-width: 94%;
  }
}

.use-cases h6 {
  margin-top: 36px;
}

.use-cases p {
  margin-top: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.use-cases ul {
  margin: 20px 0 0;
}

.use-cases li {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.use-cases img {
  margin-top: 40px;
}

.use-cases button {
  margin-top: 60px;
  padding: 14px 60px;
}

.use-cases .green-circle-3 {
  position: absolute;
  top: -150px;
  right: 0;
  width: 110px;
  z-index: -1;
  transform: rotate(-45deg);
}

@media (max-width: 576px) {
  .use-cases .green-circle-3 {
    display: none;
  }
}

.case-studies {
  padding-top: 100px;
  padding-bottom: 100px;
}

.case-studies h4 {
  margin-top: 64px;
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.case-studies h6 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.case-studies p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.case-studies button {
  margin-top: 54px;
  padding: 14px 60px;
}

.case-studies .green-semi {
  position: absolute;
  top: -100px;
  right: 20px;
  width: 400px;
  z-index: -1;
  transform: rotate(-25deg);
}

.banner-section {
  height: 100%;
  padding: 162px 0 90px 0;
  padding-bottom: 0;
}

.banner-section img {
  position: absolute;
  top: -64px;
}

.grey {
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.metrics {
  padding: 64px 0;
  border-bottom: 1px solid #efefef;
}

.metrics h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.metrics .description {
  margin-top: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.metrics .subheading {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.metrics .title {
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
}

.metrics .subtitle {
  margin: 10px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.metrics .stat {
  margin-top: 64px;
}

@media (max-width: 576px) {
  .metrics .stat {
    margin-top: 40px;
  }

  .metrics .subtitle {
    margin-bottom: 50px;
  }

  .metrics .stat > div:last-child .subtitle {
    margin-bottom: 0;
  }
}

.green-circle-1 {
  position: absolute;
  top: 240px;
  right: 0px;
  width: 290px;
  z-index: -1;
}

.green-circle-2 {
  position: absolute;
  bottom: -425px;
  left: 0px;
  width: 200px;
  z-index: -1;
  transform: rotate(180deg);
}

.green-circle-features {
  position: absolute;
  bottom: 370px;
  left: -70px;
  width: 250px;
  z-index: -1;
  transform: rotate(180deg);
}

.use-case-circle {
  bottom: 100px;
}

.cta-section {
  padding: 64px 0;
}

.cta-section h5 {
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.cta-section button {
  margin-top: 24px;
  padding: 14px 64px;
}

.cta-section p {
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 576px) {
  .cta-section {
    text-align: center;
  }

  .cta-section img {
    margin-top: 50px;
  }

  .cta-section h5 {
    font-size: 40px;
    line-height: 48px;
  }
}

/* @media (min-width: 1200px) {
  .container {
    max-width: 780px;
  }
} */

@media (max-width: 768px) {
  /* h5 {
    font-size: 24px;
  }
  .green-circle-features {
    display: none;
  }
  .use-cases .green-circle-3 {
    display: none;
  }
  .heading h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
  }
  .use-cases h4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 66px;
  }
  li {
    font-size: 16px;
  }
  .use-cases {
    padding-top: 28px;
    padding-bottom: 36px;
  }
  .use-cases p {
    margin-top: 12px;
    font-size: 16px;
  } */
}
