.heading {
  max-width: 520px;
}

.heading h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 100px;
  color: rgba(26, 25, 25, 0.78);
}

.subheading {
  margin-top: 20px;
  max-width: 640px;
}

.subheading p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.primary-cta {
  margin-top: 40px;
  padding: 14px 64px;
}

.green-circle-1 {
  position: absolute;
  top: 170px;
  right: 0;
  width: 270px;
  z-index: -1;
}

.ochre-square-1 {
  position: absolute;
  z-index: -1;
  width: 130px;
  top: 50px;
  right: 400px;
}

.green-circle-2 {
  position: absolute;
  bottom: -260px;
  left: -10px;
  width: 120px;
  z-index: -1;
  transform: rotate(180deg);
}

.main-card-row {
  margin-top: 120px;
}

.main-card {
  content: "";
  width: 400px;
  padding: 20px;
  border-radius: 0;
  background-color: grey;
  padding: 80px 20px 20px;
  color: #ffffff;
  box-shadow: 0px 5.92625px 17.7788px rgba(0, 0, 0, 0.2);
}

.main-card h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.01em;
}

.main-card p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.01em;
}

.main-card img {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 48px;
}

.card-automate {
  background-color: #5da961;
}

.card-assure {
  background-color: #cc9b3c;
}

.card-innovate {
  background-color: #6284c5;
}

.hyper-apps {
  margin-top: 40px;
  padding: 100px 0px;
}

.hyper-apps h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
}

.hyper-apps h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

.hyper-apps p {
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.use-cases {
  padding-top: 60px;
  padding-bottom: 50px;
}

.use-cases h4 {
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
}

.use-cases h6 {
  margin-top: 36px;
}

.use-cases p {
  margin-top: 24px;
}

.use-cases button {
  margin-top: 60px;
  padding: 14px 60px;
}

.use-cases .green-circle-3 {
  position: absolute;
  top: -150px;
  right: 0px;
  width: 120px;
  z-index: -1;
  transform: rotate(-45deg);
}

.use-cases .row {
  margin-top: 64px;
}

.partners {
  padding-top: 32px;
  padding-bottom: 64px;
}

.partners h4 {
  margin-bottom: 64px;
  font-weight: 900;
  font-size: 48px;
  line-height: 66px;
}

.partners .hcl {
  width: 130px;
}

.partners .kpmg {
  width: 120px;
}

.partners .tech-m {
  width: 150px;
}

.partners .deloitte {
  width: 112px;
}

.case-studies {
  padding-top: 100px;
  padding-bottom: 100px;
}

.grey {
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.case-first {
  padding-top: 60px;
}

.case-studies h4 {
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
  margin-bottom: 64px;
}

.case-studies h6 {
  margin-top: 40px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.case-studies p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.case-studies button {
  margin-top: 54px;
  padding: 14px 60px;
}

.case-studies .green-semi {
  position: absolute;
  top: -100px;
  right: 20px;
  width: 400px;
  z-index: -1;
  transform: rotate(-25deg);
}

.case-studies .white-squares {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 540px;
  z-index: 2;
  transform: translateX(-50%);
}

.blog-list {
  padding-top: 100px;
  padding-bottom: 100px;
}

.blog-list .category {
  margin-top: 36px;
}

.blog-list h5 {
  margin-top: 8px;
}

.blog-list p {
  margin-top: 20px;
}
